{% extends 'base.html' %}

{% block content %}

    <div class="container content">
        <div class="alert text-center mt-5">
            <h2> <small style="font-size: 12px;" > <b>Demo</b> built by</small> Maidport</h2>
        </div>

        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Website</td>
                <td><a href="https://maidport.co.za">maidport.co.za</a></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <a href="mailto:ronaldt@maidport.co.za">ronaldt@maidport.co.za</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}